@model CustomerAddVM

<form class="row g-3" asp-controller="Customer" asp-action="Add" method="post" enctype="multipart/form-data">
    <div class="text-danger" asp-validation-summary="All">
    </div>
    <div class="col-md-4">
        <label for="1" class="form-label">First Name</label>
        <input asp-valid asp-for="FistName" type="text" class="form-control" id="1">
        <span class="text-danger" asp-validation-for="FistName"></span>
    </div>
    <div class="col-md-4">
        <label for="2" class="form-label">Last Name</label>
        <input asp-valid asp-for="LastName" type="text" class="form-control" id="2">
        <span class="text-danger" asp-validation-for="LastName"></span>
    </div>
    <div class="col-md-4">
        <label for="3" class="form-label">Email</label>
        <input asp-valid asp-for="Email" type="email" class="form-control" id="3">
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Add </button>
    </div>
</form>
@section ValidationScript{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}