@using adm_commerce
@using adm_commerce.Models


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<a href="c:\users\rovsen novruzov\desktop\backpractic\adm_commerce\adm_commerce\views\_viewimports.cshtml">c:\users\rovsen novruzov\desktop\backpractic\adm_commerce\adm_commerce\views\_viewimports.cshtml</a>