@model OrderIndexVM

<a asp-controller="Order" asp-action="Add" class="btn btn-success">Add +</a></div>


@foreach (var order in Model.Orders)
{
    <table class="table container">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@order.Product.Name</td>
                <td>@order.Customer.Email</td>
                <td>
                    <a asp-controller="Order" asp-action="Delete" asp-route-id="@order.Id" class="btn btn-danger">Delete</a>
                    <a asp-controller="Order" asp-action="Update" asp-route-id="@order.Id" class="btn btn-warning">Update</a>
                </td>
            </tr>

        </tbody>
    </table>
}